.footer {
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
}

.footer ul {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
}

.footer ul li {
  margin: 0 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
  font-weight: 600;
}

.footer ul li a {
  color: whitesmoke;
  font-size: 1rem;
}

.footer ul p {
  width: 80%;
  color: whitesmoke;
  text-align: center;
  line-height: 2rem;
}

.footer ul p a {
  color : inherit;
  /* text-decoration: underline; */
  border-bottom :1px solid;
}

.footer ul p a:hover {
  border-bottom :2px solid;
}